<div class="row">
  <div class="col-12">
    <app-title-h1 [data]="title" [descripcion]="description"></app-title-h1>
  </div>  
  <div class="col-12 col-md-6 col-xl-3">
    <img style="margin: auto;" src="{{currentUser.avatar}}" alt="">
  </div>
   <div class="col-12 col-md-6 col-xl-9">
     <h2 class="text-primary border-bottom pb-3">Mi nombre es {{currentUser.name}}</h2> 
     <h3 class="text-secondary">Tengo {{currentUser.age}} años</h3> 
     <h3 class="text-secondary">Puesto: {{currentUser.work ? currentUser.work : 'no tengo trabajo' }}</h3>
     <p class="text-secondary border-bottom pb-3">{{currentUser.description}}</p>
   </div>
</div>

  
    




